
<div class="d-flex justify-content-center">
	<%= image_tag 'chat.png',height: '150',width: '150' %>
</div>

<div class="row mt-5">
	<div class="card shadow-box col-7 h-450">
	  <div class="card-body">
	  	<div  id="message_container">
	   		<%= render @messages %>
	   	</div>
	  </div>
	  <div class="card-footer">
	  	<%= form_with model: @message,remote: true do |f| %>
		  	<div class="form-group">
		  		<%= f.text_field :body,class:"form-control",id:"exampleInputEmail1",placeholder: "Message" %>
				</div>
		    <%= f.submit 'Message', data: { disable_with: false },class:"btn btn-primary",id:"submit" %>
		   <% end %>
	  </div>
	</div>
	<div class="card offset-1 col-4">
	  <div class="card-header">
	    Featured
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Cras justo odio</li>
	    <li class="list-group-item">Dapibus ac facilisis in</li>
	    <li class="list-group-item">Vestibulum at eros</li>
	  </ul>
	</div>
</div>

